$white: #ffffff;
$darkGrey: #A4B3B6;
$lightGrey: #A5A5A5;
$red: #DC2424;
$black: #000000;


.mainPage {
	height: 100%;
}

.header-color {
	color: #fff;
	background: linear-gradient(-90deg, $red, $black, $black);
	background-size: 250% 250%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	height: 5em;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#homeLink {
	color: inherit;
	text-decoration: none;
}

.landingGrid {
	background: $red;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $black, $red);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $red, $white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	height: 100%;
	
}



.homeImg {
	height: 5%;
	border-radius: 10%;
	-moz-box-shadow: 3px 3px 5px 6px $darkGrey;
  	-webkit-box-shadow: 3px 3px 5px 6px $darkGrey;
  	box-shadow: 3px 2px 1px 2px $black;
	margin: 40px 30px;
	
}

.bannerText {
	background: linear-gradient(170deg, $black, $red);
	background-size: 250% 300%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	
	width: 75%;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	font-family: "Times New Roman";
	padding-bottom: 20px;

	 & hr {
		 border: 3px, $black, solid; 
		 width: 50%;
		 margin: auto;
	 }

	 & h1 {
		font-size: 2em;
		font-weight: bold;
		color: $white;
		font-family: "Times New Roman";
		padding-top: 25px;
		line-height: 50px;
	}
	& p {
		padding-top: 25px;
		color: $white;
		font-size: 2em;
	}
} 

.socialLinks {
	justify-content: space-between;
	width: 20%;
	display: flex;
	margin: auto;

	& i {
		color: $white;
		font-size: 5em;
		padding: 10px;
	}

	& i:hover {
		transform: scale(1.1);
		color: $darkGrey;
	}
}

/*Projects CSS */

.cardTitle {
 color: #fff;
 height:200px; 
 background-image: url(./components/imgs/JS.png);
 background-repeat: no-repeat;
}

.projectsGrid {
	display: flex;
}

/* About Me CSS */
.contentBody {
	
	position: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: 'Oxygen', sans-serif;

	& .contentGrid {
		text-align: center;
		justify-content: center;
		width: 80%;
		height: 80%;
		background: white;
		color: black;
		
		margin-top: 20px;
		padding-right: 30px;	

		& hr {
			width: 90%;
			margin: auto;
			padding-top: 15px;
			border-top: 2px solid black;
		}

		& p {
			font-size: 0.85em;
			padding-bottom: 20px;
		}

		& h1 {
			padding: 0px;
			margin: 0px;
			font-size: 1.4em;
		}

		& ul {
			font-size: 0.85em;
			list-style-type: none;
			align-self: auto;
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			margin: 0px;
		}

	}
}

/*Contact CSS*/

.contactBody {
	position: fixed;
	width: 100%;
	height: 100%;
	

	& .contactGrid {
		width: 40%;
		height: 100%;
		background: white;
		color: black;
		margin-top: 20px;
		text-align: center;
		font-family: 'Oxygen';
		box-shadow: 10px 10px 10px $black;
		
		
		& h2 {	
			font-family: 'Oxygen';
			margin: auto;	
			font-size: 2em;
		}
	}
}


	.contactList {
		color: #ffffff;
		justify-content: left;
		
		& ul {
			color: $black;
			list-style-type: none;
		}

		& li {

			padding: 20px 0px;
		}

		& hr {
			
			width: 30%;
			margin: auto;
			border-top: 1px solid $black;
		}

		& i {
		color: $black;
		font-size: 25px;
		padding-right: 5px;
		}
		

		
	
		
	}
	












