$mainWhite: #ffffff;
$darkestBlue: #0046b7;
$darkBlue: #4d90fc;
$lightBlue: #70a6ff;
$text: #000000;


.mainPage {
	height: 100%;
}

.header-color {
	color: #fff;
	background: linear-gradient(-45deg,$mainWhite, $lightBlue, $darkBlue, $darkestBlue);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

#homeLink {
	color: inherit;
	text-decoration: none;
}

.landingGrid {
	color: $mainWhite;
	background: linear-gradient(-45deg,$mainWhite, $lightBlue, $darkBlue, $darkestBlue);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	text-align: center;
	margin: auto;
}

.homeImg {
	height: 150px;
	border-radius: 10%;
	-moz-box-shadow: 3px 3px 5px 6px $lightBlue;
  	-webkit-box-shadow: 3px 3px 5px 6px $lightBlue;
  	box-shadow: 3px 2px 1px 2px $lightBlue;
	margin: 30px 30px;
	
}

.bannerText {
	background: $text;
	opacity: 0.8;
	width: 75%;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	font-family: "Times New Roman";
	padding-bottom: 20px;
} 

.bannerText h1 {
	opacity: 1;
	font-size: 2em;
	font-weight: bold;
	color: $mainWhite;
	font-family: "Times New Roman";
	padding-top: 25px;
	line-height: 50px;
}

.bannerText p {
	color: $mainWhite;
	font-size: 2em;


}

 	











